@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme {
 
  --color-accent-50: #fcffe5;
  --color-accent-100: #f5ffc7;
  --color-accent-200: #eaff96;
  --color-accent-300: #d9fe58;
  --color-accent-400: #c2f41f;
  --color-accent-500: #a5db07;
  --color-accent-600: #80af01;
  --color-accent-700: #608506;
  --color-accent-800: #4d680c;
  --color-accent-900: #40580f;
  --color-accent-950: #213102;

  /* Black Palette */
  --color-black-50: #f6f6f6;
  --color-black-100: #e7e7e7;
  --color-black-200: #d1d1d1;
  --color-black-300: #b0b0b0;
  --color-black-400: #888888;
  --color-black-500: #6d6d6d;
  --color-black-600: #5d5d5d;
  --color-black-700: #4f4f4f;
  --color-black-800: #454545;
  --color-black-900: #3d3d3d;
  --color-black-950: #000000;

  /* White Palette */
  --color-white-50: #ffffff;
  --color-white-100: #efefef;
  --color-white-200: #dcdcdc;
  --color-white-300: #bdbdbd;
  --color-white-400: #989898;
  --color-white-500: #7c7c7c;
  --color-white-600: #656565;
  --color-white-700: #525252;
  --color-white-800: #464646;
  --color-white-900: #3d3d3d;
  --color-white-950: #292929;

  /* Fonts */
  --font-inter: 'Inter', sans-serif;
}

/* Dark Mode */

/* Global Resets */
html, body, #__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter);
  overflow-x: hidden;
  position: relative;

  /* Enable snap scrolling */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* Section Snap Style */
section {
  scroll-snap-align: start;
  min-height: 100vh;
}